*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

a{
    text-decoration: none;
}

/* -- Header -- */

header{
    width: 100%;
    height: 100vh;
    background: red;
    background: url(../img/Tint1111.png);
    background-position: center;
    background-size: 100% 100%;
    padding-top: 20px;
}
nav{
    width: 80%;
    height: 70px;
    margin: auto;
    display: flex;

}
.brand{
    width: 15%;
    height: 100%;
    display: flex;
    font-size: 1.5em;/*chan0ged*/
    align-items: center;
}
.menu{
    width: 85%;
    height: 100%;
    font-size: 1.5em; /*changed*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.brand h2{
    color: gold;
}
.menu ul{
    float: right;
    list-style: none;
    display: flex;
}

ul li{
    margin-left: 20px;
    text-transform: uppercase;
}

li a{
    color: #ccc;
}

.text{
    width: 100%;
    height:300px;
    margin: 12% auto;  /*changed*/
    text-align: center;
    color: #ffffff;
}
.text h2{
    font-size: 4em;
    font-weight: lighter;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.text h1{
    font-size: 5em;
    text-transform: uppercase;
    margin-bottom:60px;
}

.text a{
    color: #ffffff;
    padding: 13px 40px;
    border-radius: 5px;
    background: gold;
    font-size: 1.1em;
    font-weight:bold;
    text-transform: uppercase;
}

/* -- services --*/
.services{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
}
.services h2{
    font-size: 4em;
    text-transform: uppercase;
}

.services > p{
    font-style: italic;
    color: grey;
    font-size: 1.5em;
    background: #ffffff; 
}

.main{
    width: 80%;
    height: 300px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}
.items{
    width: 33.33%;
    height: 100%;
}
.in_item{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.in_item h3{
    font-size: 1.5em;
    text-transform: uppercase;
}

.in_item p{
    font-size: 1.2em;
    color: grey;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}
.right .in_item{
    margin-left: auto;
}













































